body {
  background-color : black;  
}
.text {
  color: rgb(150,150,255);
}
#introduccion {
  width: 100%;
  left: 1%;
  top: 1%;
  position: absolute;
}
#Multimedia {
  top: 25%;
  position: absolute;
}
#video {
 position: relative;
 top: 1%;
 left: 20%;
}
#cancion {
  position: relative;
  top:50%;
}
